body {
font-family: 'Lato', sans-serif;
background: black;
}

.container {
padding: 20px;
width: 300px;
margin: 40px auto;
background: white;
border-radius: 5px;}

form {
display: inline-block;
}

input {
padding: 4px 15px 4px 5px;
}

#button {
display: inline-block;
background-color: blue;
color: white;
border-radius: 5px;
text-align: center;
margin-top: 4px;
padding: 5px 15px;
}

#button:hover {
cursor: pointer;
opacity: .8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through 2px;
  text-decoration-color: red;
}

li:hover {
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}
